# Discord Bot Configuration
DISCORD_TOKEN=your_token

# Database Configuration
# format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app_name>
MONGO_URI=your_mongo_uri

# LLM Configuration (Gemini)
GOOGLE_API_KEY=your_google_key_here
# Usually: https://generativelanguage.googleapis.com
GOOGLE_API_ENDPOINT=https://generativelanguage.googleapis.com

# LangSmith Tracing
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=jio-ba-dev
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
