# Discord Bot Configuration
DISCORD_TOKEN=your_discord_bot_token_here

# Database Configuration
# format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app_name>
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=discordEat

# LLM Configuration (OpenRouter)
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_API_ENDPOINT=https://openrouter.ai/api/v1

# Google AI Configuration (Gemini)
GOOGLE_API_KEY=your_google_api_key_here
# Usually: https://generativelanguage.googleapis.com
GOOGLE_API_ENDPOINT=https://generativelanguage.googleapis.com
